<form [formGroup]="myForm" (ngSubmit)="onSubmit()" action="">
    <div style="margin: auto; width: 300px;">
        <h1>Login Form</h1>
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Email" formControlName="Email" />
                <mat-error *ngIf="myForm.get('Email')?.hasError('required')">Email required!!</mat-error>
                <mat-error *ngIf="myForm.get('Email')?.hasError('email')">Enter valid email!!</mat-error>
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Password" formControlName="Password" />
                <mat-error *ngIf="myForm.get('Password')?.hasError('required')">Password required!!</mat-error>
                <!-- <mat-error *ngIf="myForm.get('Password')?.hasError('pattern')">Enter valid password!!</mat-error> -->
              </mat-form-field>
            </td>
          </tr> 
          <tr>
            <td style="text-align: center;">
              <button type="submit" [disabled]="!myForm.valid">Submit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  